<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="png2xnb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <png2xnb.Properties.Settings>
            <setting name="AutoOutput" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoConvert" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDir" serializeAs="String">
                <value>xnb</value>
            </setting>
            <setting name="IsCompressed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Format" serializeAs="String">
                <value>Reach</value>
            </setting>
            <setting name="PremultiplyAlpha" serializeAs="String">
                <value>True</value>
            </setting>
        </png2xnb.Properties.Settings>
    </userSettings>
</configuration>